/* Moira Sushi Productions Color Sheet */
/* If you change these colors around, please make sure you're also changing the descriptions next to them, to keep track of what colors are currently being used within the website */

/* Primary Moira Sushi Colors */
.color1 {color:#8d0120;} /* Red */
.color2 {color:#000;} /* Black */
.color3 {color:#fff;} /* White */
.color4 {color:#333;} /* Dark Gray */
.color5 {color:#666;} /* Gray */
.color6 {color:#999;} /* Light Gray */

/* Secondary Moira Sushi Colors */
.color7 {color:#F7931E;} /* Orange */
.color8 {color:#653614;} /* Brown */